# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Yarn Integrity file
.yarn-integrity

# Output of 'npm pack'
*.tgz

# Optional npm cache directory
.npm

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Coverage report dir
coverage/

# Dependency directories
node_modules/

# rollup.js build output
dist/
build/


# IDEs
*.iml
.idea/
.vscode/

